<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>GO CRUD MOVIES SERVER</title>
        <link rel="stylesheet" href="style_index.css">
    </head>
    <body>
        <header>
            <h1>Welcome To My Movies Server</h1>
            <img src="assets/images/me.jpg" alt="Kareem" width="200">
            <p>Hello! everyone 👋👋👋</p>
            <p>It's me Kareem Ezzat. A Software Engineer, specialized at <strong>Full-stack</strong> development</p>
            <p>That is a <span style="color: #6EC3D2;"><b>GO</b></span> server that provides CRUD APIs For Movies</p>
        </header>
        <br><hr>
        <table>
            <tr>
                <td>
                    <div>
                        <h2>My Personal Information</h2>
                        <ul>
                            <li>
                                Basic Contacting
                                <ul>
                                    <li><a href="tel:01118008160" target="_blank">0111 8008 160</a></li>
                                    <li><a href="mailto:kareemezzat.125@gmail.com">Email: kareemezzat.125@gmail.com</a></li>
                                </ul>
                            </li>
                            <br>
                            <li>
                                Prof Accounts
                                <ul>
                                    <li><a href="https://www.linkedin.com/in/kareem-ezzat-7b08871a2/" target="_blank">LinkenIn</a></li>
                                    <li><a href="https://github.com/KareemE125" target="_blank">GitHub</a></li>
                                </ul>
                            </li>
                            <br>
                            <li>
                                Social Media Accounts
                                <ul>
                                    <li><a href="https://www.instagram.com/kareem_ezzat5/?hl=en" target="_blank">Instgram</a></li>
                                    <li><a href="https://www.facebook.com/kareem.ezzat.127/" target="_blank">Facebook</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </td>
                <td>
                    <a href="server.html"  target="_blank">
                        <button id="serverBtn">Jump Into Movies Server</button>
                    </a>
                </td>
            </tr>
        </table>
        <hr><br>    
    </body>
</html>